@model Book

<div class="col-lg-2">
        <img class="img-thumbnail" src="@Model.img" alt="@Model.name" />
        <h3>@Model.name</h3>
        <p>@Model.author</p>
        <p>Подписка: @Model.subs</p>
        <p><a class="btn btn-warning" href="#">Читать</a></p>
</div>

@{
    ViewData["Title"] = "Cosmibooks - Все книги";
}
 

